<html>
<head>
  <title>Virtual Playbill</title>
  <link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container" ng-app="playbillApp">
    <div ng-controller="PlaybillController">
      <input type="text" ng-model="search">
      <div class="row" ng-repeat="rows in playbillRows">
        <div class="col-xs-4" ng-repeat="playbill in rows">{{playbill.title}}</div>
      </div>
    </div>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>