<div class="container">
  <div class="jumbotron">
    <h1>We <span class="glyphicon glyphicon-heart"></span> theater</h1> 
    <p>We will see any show, any time, any where.</p> 
  </div>
</div>

<div class="container">
  <div class="row featurette">
    <div class="col-lg-offset-1 col-lg-2 col-md-3 col-sm-4">
      <img src="/images/krista.jpg" class="featurette-image center-block img-responsive img-circle" alt="Krista Garver">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Krista Garver <span class="text-muted">Reviewer, broadwayworld.com</span></h2>
      <p class="lead">Krista runs a content marketing business in Portland, Oregon. She fell in love with musicals at age 5, when her parents took her to see a university production of The Music Man. Krista attends as much theater as possible, in as many venues as possible, and she is the current "Name That Showtune" champion of her apartment. In her spare time, Krista enjoys curling, playing bridge, and cooking, and she has been known to tap dance.</p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-lg-offset-1 col-lg-2 col-md-3 col-sm-4">
      <img src="/images/katie.jpg" class="featurette-image center-block img-responsive img-circle" alt="Katie Leonard">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Katie Leonard <span class="text-muted">Web developer. Theater enthusiast.</span></h2>
      <p class="lead">Katie is a professional software engineer and an amateur theater critic. She enjoys tickets of any kind, but especially loves disecting live drama. She is currently runner-up in the "Name That Showtune" competition in her apartment, but is clearly in the lead when it comes to writing javascript.</p>
    </div>
  </div>



</div>