<button ng-class="{ active : ordering == 'title' }" type="button" class="btn btn-default" data-ng-click="ordering='title'">Title</button>
<button ng-class="{ active : ordering == 'company' }" type="button" class="btn btn-default" data-ng-click="ordering='company'">Company</button>
<script type="text/javascript" src='/lib/d3.js'></script>
<script type="text/javascript" src='/lib/cal-heatmap.js'></script>

<!-- <div id="cal-heatmap"></div>
<script type="text/javascript">
  console.log(dates)
  var cal = new CalHeatMap();
  cal.init({});
</script>
 -->

<calendar></calendar>
</div>