<legend>Cast Details
  <div class="btn-group-xs edit-control">
    <button class="btn btn-success" ng-click="addNewActor()"><i class="glyphicon glyphicon-plus"></i> Add cast</button>
  </div>
</legend>
<div class="form-group" data-ng-repeat="actor in show.cast">
  <input type="text" ng-model="actor.name" name="" placeholder="Name">
  <input type="text" ng-model="actor.character" name="" placeholder="Character">
  <button ng-if="actor" class="btn btn-danger" ng-click="removeActor(actor.index)"><i class="glyphicon glyphicon-minus"></i></button>
</div>
