  <div class="row" ng-repeat="rows in playbillRows">
    <div class="col-xs-4 playbill-unit" ng-repeat="playbill in rows | filter:search">
      <h4 class="playbill-header">Virtual Playbill</h4>
      <div class="playbill-body">
        <a href="/post/{{playbill._id}}"><span class="nav-overlay"></span></a>
        <h4 class="playbill-title">{{playbill.title}}</h4>
        <p class="playbill-date">{{playbill.showDate  | date:'mediumDate'}}</p>
        <img class="playbill-image" src="">
      </div>
    </div>
  </div>
</div>
