<dir-pagination-controls></dir-pagination-controls>
  <div dir-paginate="playbill in playbills | itemsPerPage:20 |filter:search">
    <div ng-if="$index % 4 == 0" class="clearfix"></div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 playbill-unit">
      <h4 class="playbill-header">Virtual Playbill</h4>
      <div class="playbill-body">
        <a href="/show/{{playbill._id}}"><span class="link-overlay"></span></a>
        <h4 class="playbill-title">{{playbill.title}}</h4>
        <p class="playbill-date">{{playbill.showDate  | date:'mediumDate'}}</p>
        <img class="playbill-image" src="{{playbill.imageUrl}}">
      </div>
    </div>
  </div>
</div>

<dir-pagination-controls></dir-pagination-controls>
