<html>
<head>
  <title>Virtual Playbill</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body ng-app="playbillApp">
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Virtual Playbill</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <div>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group" ng-if="user">
            <input type="text" class="form-control search" placeholder="Search shows, company, cast, etc" ng-model="search">
          </div>
        </form>
      </div>
      <div>
        <ul ng-if="user.admin" class="nav navbar-nav">
          <li><a href="/add_post">Add post</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href=""><span class="label label-info playbill-count" ng-controller='AllPlaybillsController'>{{playbills.length}} shows</span></a></li>
          <li><a href="http://kristagarver.wordpress.com/">Blog</a></li>
          <li class="dropdown">
            <a ng-if="user.username" class="dropdown-toggle" data-toggle="dropdown" href="#">
              {{user.username}} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/logout">Logout</a></li>
              <li><a href="/user">Profile</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div ng-view></div>
</div>

<script src="/lib/angular.min.js"></script>
<script src="/lib/angular-route.min.js"></script>
<script src="/lib/jquery-1.11.1.min.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<script src="/lib/ui-bootstrap-datepicker-0.10.0.min.js"></script>
<script src="/lib/ui-bootstrap-datepicker-tpls-0.10.0.min.js"></script>
<script src="/lib/s3upload.js"></script>
<script src="/apps/app.js"></script>
<script src="/apps/playbills.js"></script>
<script src="/apps/routes.js"></script>
<script src="/apps/comments.js"></script>
<script src="/apps/cast.js"></script>
<script src="/apps/image_upload.js"></script>
<script src="/apps/rating.js"></script>
<script src="/apps/playbills_service.js"></script>
<script src="/apps/user_service.js"></script>
</body>
</html>

