<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="title" ng-model="show.title" placeholder="Title">
    </div>
  </div>
  <div class="form-group">
    <label for="company" class="col-sm-2 control-label">Company</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="company" placeholder="Company"  ng-model="show.company">
    </div>
  </div>
  <div class="form-group">
    <label for="author" class="col-sm-2 control-label">Author</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="author" placeholder="Author" ng-model="show.author">
    </div>
  </div>
  <div class="form-group">
    <label for="choreographer" class="col-sm-2 control-label">Choreographer</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="choreographer" placeholder="Choreographer" ng-model="show.choreographer">
    </div>
  </div>
  <div class="form-group">
    <label for="music" class="col-sm-2 control-label">Music</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="music" placeholder="Music" ng-model="show.music">
    </div>
  </div>
  <div class="form-group">
    <label for="showDate" class="col-sm-2 control-label">Show date</label>
    <div class="col-sm-8 calendar-date left-addon">
      <i class="glyphicon glyphicon-calendar"></i></button>
      <input type="text" placeholder="Show date" class="form-control" datepicker-popup="{{'mediumDate'}}" ng-model="show.showDate" is-open="opened" show-weeks="false" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
    </div>
  </div>
  <div class="form-group">
    <label for="image" class="col-sm-2 control-label">Image</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="imageUrl" placeholder="Image url" ng-model="show.imageUrl" />
      <input type="file" class="form-control btn" id="image" onchange="angular.element(this).scope().s3Upload(this)">

      <p id="status"></p>
      <div style="border:1px solid gray;width:300px;" id="preview"><img ng-src="{{show.imageUrl || '/images/theater.jpg'}}" style="width:300px;" /></div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button ng-if="!editing" type="submit" class="btn btn-primary" ng-click="addPlaybill(show)">Save show</button>
      <button ng-if="editing" type="submit" class="btn btn-primary" ng-click="editPlaybill(show)">Save changes</button>
    </div>
  </div>
</form>
<!-- <div> <pre>form = {{show | json}}</pre> </div> -->
