<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="title" ng-model="show.title" placeholder="Title">
    </div>
  </div>
  <div class="form-group">
    <label for="company" class="col-sm-2 control-label">Company</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="company" placeholder="Company"  ng-model="show.company">
    </div>
  </div>
  <div class="form-group">
    <label for="url" class="col-sm-2 control-label">Url</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="url" placeholder="Url" ng-model="show.url">
    </div>
  </div>
  <div class="form-group">
    <label for="author" class="col-sm-2 control-label">Author</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="author" placeholder="Author" ng-model="show.author">
    </div>
  </div>
  <div class="form-group">
    <label for="choreographer" class="col-sm-2 control-label">Choreographer</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="choreographer" placeholder="Choreographer" ng-model="show.choreographer">
    </div>
  </div>
  <div class="form-group">
    <label for="music" class="col-sm-2 control-label">Music</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="music" placeholder="Music" ng-model="show.music">
    </div>
  </div>
  <div class="form-group">
    <label for="showDate" class="col-sm-2 control-label">Show date</label>
    <div class="col-sm-8 calendar-date left-addon">
      <i class="glyphicon glyphicon-calendar"></i></button>
      <input type="text" placeholder="Show date" class="form-control" datepicker-popup="{{'mediumDate'}}" ng-model="show.showDate" is-open="opened" show-weeks="false" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
    </div>
  </div>
  <div class="form-group">
    <label for="image" class="col-sm-2 control-label">Upload image</label>
    <div class="col-sm-8">
      <input type="hidden" id="image_url" name="image_url" value="images/theater.jpg" />
      <input type="file" class="form-control btn" id="image" ng-model="show.image">

      <p id="status"></p>
      <div style="border:1px solid gray;width:300px;"  id="preview"><img src="images/theater.jpg" style="width:300px;" /></div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button ng-if="!editing" type="submit" class="btn btn-primary" ng-click="addPlaybill(show)">Add show</button>
      <button ng-if="editing" type="submit" class="btn btn-primary" ng-click="editPlaybill(show)">Edit show</button>
    </div>
  </div>
</form>
<!-- <div> <pre>form = {{show | json}}</pre> </div> -->

<script type="text/javascript">
function s3_upload(){
    var status_elem = document.getElementById("status");
    var url_elem = document.getElementById("image_url");
    var preview_elem = document.getElementById("preview");
    var s3upload = new S3Upload({
        file_dom_selector: 'files',
        s3_sign_put_url: '/sign_s3',
        onProgress: function(percent, message) {
            status_elem.innerHTML = 'Upload progress: ' + percent + '% ' + message;
        },
        onFinishS3Put: function(public_url) {
            status_elem.innerHTML = 'Upload completed. Uploaded to: '+ public_url;
            url_elem.value = public_url;
            preview_elem.innerHTML = '<img src="'+public_url+'" style="width:300px;" />';
        },
        onError: function(status) {
            status_elem.innerHTML = 'Upload error: ' + status;
        }
    });
}
/*
* Listen for file selection:
*/
(function() {
    var input_element = document.getElementById("files");
    input_element.onchange = s3_upload;
})();
</script>
