
<fieldset class='form-horizontal'>
  <legend>Show Details
    <div class="btn-group-xs edit-control">
      <button ng-hide="editing" type="submit" class="btn btn-primary" ng-click="addPlaybill(show)">Save show</button>
      <div class="btn-group btn-group-xs" role="group" ng-show="editing" >
        <button class="btn btn-small btn-warning edit-buttons" ng-click="cancelEdit()">Cancel</button>
        <button class="btn btn-small btn-success edit-buttons" ng-click="editPlaybill(show)">Save changes</button>
      </div>
    </div>
  </legend>

  <div>Rating: <star-rating rating-value="show.rating" show="show"></star-rating> ({{ratingsCount(show)}})</div>

  <div class="input-group">
    <span class="input-group-addon">Title</span>
    <input type="text" class="form-control" ng-model="show.title">
  </div>
  <div class="input-group">
    <span class="input-group-addon">Company</span>
    <input type="text" class="form-control" ng-model="show.company">
  </div>
  <div class="input-group">
    <span class="input-group-addon">Venue</span>
    <input type="text" class="form-control" ng-model="show.venue">
  </div>
  <div class="input-group">
    <span class="input-group-addon">Synopsis</span>
    <input type="text" class="form-control" ng-model="show.synopsis">
  </div>
  <div class="input-group">
    <span class="input-group-addon">Director</span>
    <input type="text" class="form-control" ng-model="show.director">
  </div>
  <div class="input-group">
    <span class="input-group-addon">Playwright/Book</span>
    <input type="text" class="form-control" ng-model="show.author">
  </div>
  <div class="input-group">
    <span class="input-group-addon">Lyrics</span>
    <input type="text" class="form-control" ng-model="show.lyrics">
  </div>
  <div class="input-group">
    <span class="input-group-addon">Music</span>
    <input type="text" class="form-control" ng-model="show.music">
  </div>
  <div class="input-group">
    <span class="input-group-addon">Choreographer</span>
    <input type="text" class="form-control" ng-model="show.choreographer">
  </div>
  <div class="input-group">
    <span class="input-group-addon">Ticket date</span>
    <div class="col-md-8 calendar-date left-addon">
      <i class="glyphicon glyphicon-calendar"></i>
      <input type="text" placeholder="Show date" class="form-control" datepicker-popup="{{'mediumDate'}}" ng-model="show.showDate" is-open="opened" show-weeks="false" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
    </div>
  </div>

  <imageupload></imageupload>

</fieldset>
