<div class="row clearfix">
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 playbill-unit"> <showunit></showunit> </div>

  <div ng-hide="editing">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"> <showdetails></showdetails> </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 cast-list"> <castshow></castshow> </div>
  </div>

  <div ng-show="editing">
    <div class="col-lg-4 col-md-8 col-sm-7 col-xs-12"> <showform></showform> </div>
    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12"> <castform></castform> </div>
  </div>
</div>

<dir-disqus disqus-shortname="virtualplaybill"
   disqus-identifier="{{ show._id }}"
   disqus-url="{{ show.location }}"
   post="{{show}}"
   ng-hide="editing"
   ready-to-bind="{{ contentLoaded }}"
   class="col-sm-7">
</dir-disqus>