<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <div class="form-container">
    <p class="form header">Sign Up</p>
    <form method="POST">
      <label for="username">Username</label>
      <input type="text" name="username">
      <label for="email">Email</label>
      <input type="text" name="email">
      <label for="password">Password</label>
      <input type="password" name="password">
      <input type="submit" value="Signup">
    </form>
  </div>
  <div><%= msg %></div>
</body>
</html>