.yellow { color: #ffea00}
.black { color: #010100}
.khaki { color: #857a00}
.brown { color: #443e00}
.brownblack { color: #272300}
.yellow-green { color: #c0b000}

.playbill-unit {
  position: relative;
}

span.nav-overlay {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  background-image: url('empty.gif');
}

.playbill-count{
  font-size: 1.25em;
}

.playbill-header {
  text-align: center;
  background-color: #ffea00;
  padding: 3px 0;
  font-family: Georgia serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.5em;
  border: 3px solid black;
  cursor: pointer;
}

.playbill-body {
  border: 2px solid black;
  margin-top: -12px;
  cursor: pointer;
}

.playbill-title {
  text-align: center;
  padding: 5px;
  margin-bottom: 0px;
}

.playbill-image {
  margin: auto;
  display: block;
  width: 250px;
  height: 300px;
  padding-bottom: 15px;
}

.playbill-date {
  text-align: center;
}

.calendar-date {
  position: relative;
}

/* style icon */
.calendar-date .glyphicon-calendar {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon-calendar  { left:  0px; margin-left: 15px;}
.right-addon .glyphicon-calendar { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

span.note-text {
  font-style: italic;
  font-size: 0.8em;
  font-weight: 200;
}

p.empty-cast {
  font-style: italic;
  font-weight: 200;
}

legend.new-post-image {
  padding-top: 15px;
}

p.synopsis {
  border: 2px solid grey;
  padding: 8px;
}

div.comment {
  border: solid 2px grey;
  background: lightgray;
  padding-top: 0.5em;
  margin-bottom: 10px;
  border-radius: 10px;
}

div.comment-side {
  font-size: 0.75em;
  text-align: right;
}
