/*
  Colours
*/
.yellow { color: #ffea00}
.black { color: #010100}
.khaki { color: #857a00}
.brown { color: #443e00}
.brownblack { color: #272300}
.yellow-green { color: #c0b000}

/*
  Spinner
*/
img.loading-gif {
  display: block;
  margin: auto;
}

/*
  Playbill
*/
.playbill-unit {
  position: relative;
  max-width: 400px;
  margin: auto;
}

span.link-overlay {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  background-image: url('empty.gif');
}

.playbill-header {
  text-align: center;
  background-color: #ffea00;
  padding: 3px 0;
  font-family: Georgia serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.5em;
  border: 3px solid black;
  cursor: pointer;
}

.playbill-body {
  border: 2px solid black;
  margin-top: -12px;
  cursor: pointer;
}

.playbill-title {
  text-align: center;
  padding: 5px;
  margin-bottom: 0px;
}

.playbill-image {
  margin: auto;
  display: block;
  width: 250px;
  height: 300px;
  padding-bottom: 15px;
}

/*
  Nav bar
*/
.search { width: 250px; }
.playbill-count{ font-size: 1.25em; }

/*
  Edit form
*/
.ratings-tooltip { cursor: help; }
.playbill-date { text-align: center; }
legend.new-post-image { padding-top: 15px; }

span.note-text {
  font-style: italic;
  font-size: 0.8em;
  font-weight: 200;
}

p.synopsis {
  border: 2px solid grey;
  padding: 8px;
}

.input-group-addon {
  min-width: 120px;
  text-align:left;
}

.edit-control { float: right; }
.edit-buttons { width: 100px }

.existing-file {
  font-size: x-small;
  padding-top: 1em;
  padding-left: 1em;
  max-width: 30em;
  word-wrap: break-word;
}

/*
  Calendar dropdown
*/
.calendar-date { position: relative; }

.calendar-date .glyphicon-calendar {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon .glyphicon-calendar  { left:  0; margin-left: 15px;}
.right-addon .glyphicon-calendar { right: 0;}

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/*
  Cast list
*/
.empty-cast {
  font-style: italic;
  font-weight: 200;
}

.cast-list {
  max-height: 100px;
}

/*
  Rating
*/
.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
  font-size: x-large;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .yellow {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/*
  Directory
*/
.directory-title {
  padding-bottom: 5px;
}

.directory {
  min-height: 250px;
  overflow: scroll;
}

/*
  Media Queries
*/
@media (min-width: 1200px) {
  .container {
    width: 1500px;
  }
}

@media (max-width: 1200px) {
  .cast-list {
    clear: both;
    padding-top: 1.5em;
  }
  .cast-container {
    max-height: 300px;
    overflow: scroll;
    border-right: solid lightgrey;
    padding-right: 10px;
  }
}

@media (max-width: 800px) {
  .directory {
    max-height: 200px;
    overflow: scroll;
    border-bottom: solid lightgrey;
  }
}

@media (max-width: 600px) {
  legend {
    padding-top: 1em;
  }
}
