.yellow { color: #ffea00}
.black { color: #010100}
.khaki { color: #857a00}
.brown { color: #443e00}
.brownblack { color: #272300}
.yellow-green { color: #c0b000}

.playbill-header {
  text-align: center;
  background-color: #ffea00;
  padding: 3px 0;
  font-family: Georgia serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.5em;
  border: 3px solid black;
}

.playbill-body {
  border: 1px solid black;
  margin-top: -10px;
}